[Unit]
Description=MediaGrabber
After=network.target

[Service]
SyslogIdentifier=mediagrabber
Restart=always
RestartSec=5
Type=simple
User=nix
WorkingDirectory=/home/nix/webservers/mediagrabber
ExecStart=/home/nix/webservers/mediagrabber/app.py
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
