.centered>*,
.centered {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
}

.biggerfont {
    font-size: 120%;
}

.biggestfont {
    font-size: 250%;
}

* {
    font-family: -apple-system-font, BlinkMacSystemFont, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: var(--tint-text-color);
    margin: 0;
    /* would be better in a body tag tbh */
}

html {
    background-color: #111;
    --tint-color-h: 18;
    --tint-color-s: 98%;
    --tint-color-l: 40%;
    --tint-color: #CA3D02;
    --tint-color-low: #a23100;
    --tint-color-fade: #6B2607;
    --semi-bold: 600;
    --tint-text-color: #FFF;
    --tint-text-color-fade: #CCBBB3;
}

img {
    max-width: 100%;
}

hr.solid {
    border: 0;
    border-top: 1px solid #303436;
    margin-top: 10px;
}