.container {
    padding-top: 50px;
    padding-left: 20px;
}

.website_div {
    border-radius: 5px 5px 5px 5px;
    margin-top: 5px;
    padding-right: 10px;
    background-color: #1a1a1a;
    width: 95%;
}

.name {
    text-align: center;
    display: inline-block;
    padding: 5px;
    width: 30%;
    font-weight: bold;
}