.container {
    padding-top: 20px;
}

.website_div {
    border-radius: 5px 5px 5px 5px;
    
    padding-right: 10px;
    background-color: #1a1a1a;
    width: 50%;
    margin: 5px auto auto auto;
}

.name {
    text-align: center;
    display: inline-block;
    padding: 5px;
    width: 30%;
    font-weight: bold;
}

#moreinfo {
    /* text-align: center; */
    /* display: inline-block; */
    padding: 5px;
    width: 70%;
    font-weight: bold;
}