/* Fix the scrollbar heights for chrome */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
    border: 1px solid transparent;
}


.container {
    padding-top: 20px;
}

.website_div {
    border-radius: 5px 5px 5px 5px;

    padding-right: 10px;
    background-color: #1a1a1a;
    width: 60%;
    margin: 10px auto auto auto;
    transition: width .1s ease-in-out;
    white-space: nowrap;
}

@media only screen and (max-width: 1300px) {
    .website_div {
        width: 90%;
        transition: width .4s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
}

.name {
    justify-content: center;
    overflow: auto;
    display: inline-flex;

    padding: 5px;
    width: 30%;
    font-weight: bold;
}

.info {
    overflow: auto;
    max-width: 68%;
    display: inline-flex;
    padding-left: 5px;
}
.info.unavailable {
    /* color: #ff5656; */
    color: #ff4a4a;
}

#moreinfo {
    padding: 5px;
    width: 70%;
    font-weight: bold;
}

/* From https://www.browserstack.com/guide/create-browser-specific-css */
/* Safari 11+ */
/* Not trying anymore, safari is just inconsistent garbage. */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .info {
            display: inline-block;
        }
    }
}