<!DOCTYPE html>
<html>

<head>
    <title>Mediagrabber - index</title>
    <meta name="viewport" content="width=device-width, initial-scale=.75">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/static/css/scrollbar.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <link rel="stylesheet" href="/static/css/index/split.css">
    <link rel="stylesheet" href="/static/css/index/buttons.css">
    <link rel="stylesheet" href="/static/css/index/ios.css">
    <link rel="stylesheet" href="/static/css/index/directdl.css">
</head>

<body>
    <div class="split download">
        <div class="centered downloadDiv">
            <h1 class="biggestfont">MediaGrabber</h1>
            <h1>A simple iOS shortcut to download videos from the internet</h1>
            <div id="all_buttons">
                <div class="button_group">
                    <a class="button biggerfont"
                        href="https://www.icloud.com/shortcuts/2784ecd0f660442597d0aef2290cb71c">
                        <div id="latestButton" class="innerbutton">Download latest version</div>
                    </a>
                </div>
                <br>
                <div class="button_group">
                    <a class="button" href="/supported">
                        <div class="innerbutton lessimportant">Supported sites</div>
                    </a>
                    <a class="button" href="https://github.com/sayem314">
                        <div class="innerbutton lessimportant">Original</div>
                    </a>
                    <a class="button" href="https://nixuge.me">
                        <div class="innerbutton lessimportant">Main website</div>
                    </a>
                </div>
                <div id="fixdiv"></div>
                <div class="button_group">
                    <a class="button" href="https://github.com/nixuge/mediagrabber">
                        <div class="innerbutton lessimportant">Server source</div>
                    </a>
                    <a class="button" href="/documentation">
                        <div class="innerbutton lessimportant">API documentation</div>
                    </a>
                </div>
            </div>
            <br>
            <h1>Changelog</h1>

            <div id="legacyReleases" class="biggerfont">
                <div class="releaseTableView">
                    <span class="releaseVersion">v2.2</span>
                    <span class="releaseDate">(29/10/2022)</span>
                    <a class="button right" href="https://www.icloud.com/shortcuts/2784ecd0f660442597d0aef2290cb71c">
                        <div class="innerbutton noanimation lessimportant">Download</div>
                    </a>
                    <ul>
                        <li>Added online direct download version</li>
                        <li>Website restructuration</li>
                        <li>Updated yt-dlp (2022.9.1 -> 2022.10.4)</li>
                        <li>Breaking server changes<ul>
                                <li>File cleaner delay (60s->240s)</li>
                                <li>Cleaned up the code & added some logging where it was still missing</li>
                                <li>Changed the headers to remove underscores and add proper capitalization</li>
                                <li>Added proper error codes for the requests</li>
                                <li>Added the "get_basic_info" endpoint</li>
                                <li>Changed the "get_api_version" endpoint, now returns "v2.x" instead of "2.x"</li>
                            </ul>

                        </li>
                    </ul>
                </div>

                <hr class="solid">

                <div class="releaseTableView">
                    <span class="releaseVersion">v2.1.3</span>
                    <span class="releaseDate">(03/09/2022)</span>
                    <a class="button right" href="https://www.icloud.com/shortcuts/d6f0262d29dc43f9b647455113d43699">
                        <div class="innerbutton noanimation lessimportant">Download</div>
                    </a>
                    <ul>
                        <li>Updated yt-dlp (2022.5.18 -> 2022.9.1)</li>
                    </ul>
                </div>

                <hr class="solid">

                <div class="releaseTableView">
                    <span class="releaseVersion">v2.1.2</span>
                    <span class="releaseDate">(16/06/2022)</span>
                    <a class="button right" href="https://www.icloud.com/shortcuts/d6f0262d29dc43f9b647455113d43699">
                        <div class="innerbutton noanimation lessimportant">Download</div>
                    </a>
                    <ul>
                        <li>Big server changes:
                            <ul>
                                <li><b>REMOVED LEGACY V1 SUPPORT ON THE SERVER</b></li>
                                <li>File cleaner<ul>
                                        <li>
                                            Before, the downloaded videos just stayed on the server indefinitely until I
                                            deleted them manually, now they have an expiration date and get deleted
                                            after 60s
                                        </li>
                                    </ul>
                                </li>
                                <li>Updated yt-dlp (2022.4.8 -> 2022.5.18)</li>
                                <li>Proper logging</li>
                                <li>Removed unused dependency</li>
                                <li>Refactor</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <hr class="solid">

                <div class="releaseTableView">
                    <span class="releaseVersion">v2.1.1</span>
                    <span class="releaseDate">(15/06/2022)</span>
                    <a class="button right" href="https://www.icloud.com/shortcuts/c132b3146d5b479ba9f6d46043d0071e">
                        <div class="innerbutton noanimation lessimportant">Download</div>
                    </a>
                    <ul>
                        <li>Server changes: <ul>
                                <li>"dont_retry_as_mkv" header</li>
                                <li>"format_extension" header</li>
                                <li>Better handling of some cases (GIFs)</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <hr class="solid">

                <div class="releaseTableView">
                    <span class="releaseVersion">v2.1</span>
                    <span class="releaseDate">(13/06/2022)</span>
                    <a class="button right" href="https://www.icloud.com/shortcuts/c233272f20e14a4cb37d084744591ad5">
                        <div class="innerbutton noanimation lessimportant">Download</div>
                    </a>
                    <ul>
                        <li>API version bump</li>
                        <li>Now using changeable vars for the URLs</li>
                        <li>Version check</li>
                        <li>Fixed endpoints (2.0->2.1)</li>
                        <li>Fixed save for other formats</li>
                        <li>Added an option to input a custom format to save</li>
                    </ul>
                </div>

                <hr class="solid">

                <div class="releaseTableView">
                    <span class="releaseVersion">v2.0.1</span>
                    <span class="releaseDate">(09/06/2022)</span>
                    <a class="button right" href="https://www.icloud.com/shortcuts/c132b3146d5b479ba9f6d46043d0071e">
                        <div class="innerbutton noanimation lessimportant">Download</div>
                    </a>
                    <ul>
                        <li>Hotfix for new URLs</li>
                    </ul>
                </div>

                <hr class="solid">

                <div class="releaseTableView">
                    <span class="releaseVersion">v2.0</span>
                    <span class="releaseDate">(08/06/2022)</span>
                    <a class="button right" href="https://www.icloud.com/shortcuts/70e4ab2ae07249a7bc52a346beae4a9c">
                        <div class="innerbutton noanimation lessimportant">Download</div>
                    </a>
                    <ul>
                        <li>Initial rewrite</li>
                    </ul>
                </div>

                <hr class="solid">

                <div class="releaseTableView">
                    <span class="releaseVersion">v1.0</span>
                    <a class="button right">
                        <div class="innerbutton noanimation disabled">Download</div>
                    </a>
                    <ul>
                        <li>Initial release</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="split directdl">
        <div class="centered directDiv">
            <h1 class="biggestfont">Direct download</h1>
            <h1>Enter a link below to download it</h1><br>

            <input id="urlinput" class="biggerfont textinput" type="text"><br>

            <a class="button biggerfont" onclick="list_qualities(event)">
                <div id="ddlbutton" class="innerbutton downloadbutton">List qualities</div>
            </a>

            <br>

            <div id="results_best_wrapper">
                <div id="results_info_outer">
                    <div id="results_info"></div>
                </div>
                <div id="results_best_outer">
                    <div id="results_best"></div>
                </div>
            </div>
            <div id="showmore" style="text-align: center; display: none;">
                <a class='button biggerfont' onclick='show_more_results()'>
                    <div class='innerbutton downloadbutton'>See more formats?</div>
                </a>
            </div><br>
            <div id="results_all"></div>
            <div id="loading" style="display: none;"></div>
        </div>
    </div>
</body>

<script constants>
    const info_api = '/api/{{ current_api_version }}/get_basic_info';
    const all_qualities_api = '/api/{{ current_api_version }}/get_all_qualities';
    const best_qualities_api = '/api/{{ current_api_version }}/get_best_qualities';
    const download_api = '/api/{{ current_api_version }}/get_video';

    const results_info = document.getElementById("results_info");
    const results_best = document.getElementById("results_best");
    const results_all = document.getElementById("results_all");

    const showmore_button = document.getElementById("showmore");
</script>
<script src="/static/js/utilities.js"></script>
<script src="/static/js/apiutilities.js"></script>
<script src="/static/js/main.js"></script>

<script>
    // Quite dirty script to fix the buttons doing 
    // weird things when hovering on them when there's not enough
    // space to display it fully
    const b_group = document.getElementsByClassName('button_group');
    const b_all = document.getElementById("all_buttons");
    const fixdiv = document.getElementById("fixdiv");

    function on_resize() {
        const width_all = document.getElementById("all_buttons").clientWidth;

        //+30 for the padding (+15 on both sides)
        let width_buttons = 30 + b_group[1].clientWidth + b_group[2].clientWidth;

        width_all > width_buttons ?
            fixdiv.style.display = "none" :
            fixdiv.style.display = "block";
    }

    on_resize(); //call on page load
    addEventListener('resize', (event) => on_resize());
</script>

</html>

<!-- 
    TODO:
    -custom format input
    -more family friendly input
    -better checking for links before just sending everything (IMPORTANT!!!!)
    -fix rectangle appearing when downloading smth without show more clicked (LOW PRIORITY)
 -->