<!DOCTYPE html>
<html>

<head>
    <title>Mediagrabber - index</title>
    <meta name="viewport" content="width=device-width, initial-scale=.75">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/scrollbar.css">
    <link rel="stylesheet" href="/static/css/supported/supported.css">
</head>

<body>
    <div class="centered biggerfont">
        <h1>
            <a href="/" style="left: 0px; position: absolute;">Go back</a>
            Supported websites
        </h1>
    </div>
    <div class="container" id="website_wrapper" class="biggerfont"></div>

    <br>

    <div class="container centered" id="moreinfo">
        <h1>Need support for another website?</h1>
        <h2>This website uses yt-dlp (active fork of youtube-dl) under the hood, which supports
            <a href="https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md">all of these websites</a></h2>
        <h2>However, to avoid abuse and exploits, the websites allowed here are whitelisted 
            to only a few select websites (and, within those websites, some additional checks are performed,
            for example to avoid playlists).
        </h2>
        <h2>If you think another website should be on this list, and if yt-dlp supports it<br>
            send me a message @ <a href="https://nixuge.me">one of the contacts here</a></h2>
    </div>

    </div>
    <script src="/static/js/supported_websites.js"></script>
</body>

</html>